body{
  background-color:rgb(114, 158, 39);
}
#root {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo{
    cursor: pointer;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    padding: 2rem;
    background-image: radial-gradient(rgb(217, 119, 255) , rgb(114, 158, 39));
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #movieDeets{
    background-image: radial-gradient(rgb(255, 255, 137), rgb(114, 158, 39));
    display: flex;
    align-items: center;
    flex-direction:column ;
    list-style-type: none;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }